* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.form__wrapper {
    margin: 20px;
    padding: 20px;
    width: 500px;
    border: 1px solid #626262;
    box-shadow: 2px 2px 5px rgba(140, 140, 140, 0.5);
    min-height: 250px;
    height: 1px; /* hehe czitowanie */

    display: flex;
    flex-direction: column;
}


.form__title {
    text-align: center;
}

.input__wrapper input, .input__wrapper select {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    padding: 0 10px;
}

.multi-step-form {
    height: 100%;
    position: relative;
}

.button__wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form__button {
    width: fit-content;
    padding: 0 10px;
}

.form__button--left {
    float: left;
}

.form__button--center {
    margin: 0 auto;
}

.form__button--right {
    float: right;
}

.summary {
    display: flex;
    /*flex-direction: column;*/
}

.summary__title {
    margin: 0;
}

.summary__button {

}

/* utils */
.fit-content {
    height: fit-content;
}
.margin-top--medium {
    margin-top: 20px;
}