* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.form__wrapper {
    margin: 20px;
    padding: 20px;
    width: 50%;
    border: 1px solid #626262;
    box-shadow: 2px 2px 5px rgba(140, 140, 140, 0.5);
    min-height: 250px;
    height: 1px;

    display: flex;
    flex-direction: column;

}

.form__title {
    text-align: center;
}

.input__wrapper input {
    display: block;
}

.multi-step-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form__navigation-button {
    width: 60px;
}

.form__navigation-button--left {
    float: left;

}

.form__navigation-button--right {
    float: right;
}

.summary {
    display: flex;
    /*flex-direction: column;*/
}

.summary__title {
    margin: 0;
}

.summary__button {

}