.snackbar {
        box-sizing: border-box;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    width: 250px;
    animation: fade-in;
    animation-duration: .5s;

}
.snackbar--success {
    background-color: #c2e8b9;
    color: #1d3a13;
}

.snackbar--failure {
    background-color: #ffc9c9;
    color: #492222;
}


.snackbar__title {
    font-size: .8rem;
}

.snackbar__content {
    font-size: .7rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}